@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* heading and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 250%;
    margin: 20px;
}

/*  navigation and links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* main image and main text */

#main-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#main-text, #main-text h2 {
    color: #252525;
}

#main-image {
    height: 500px;
    width: 100%;  
    margin: 30px;  
}

/* main text next to image */
#main-text h2 {
    float: right;
    font-size: 120%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 30px;
    padding-left: 10px;
    bottom: 200px;
    right: 150px;

    position: absolute;
}

/* About us */

#about-us {
    height: 500;
    margin-left: 10px;
    margin-right: 10px;
    background: black;
    margin-bottom: 10px;
}

#about-us h1 {
    color: white;
    margin-left: 20px;
}

#about-text {
    color: white;
    margin-left: 15px;

}

/*  Clinic times  */

 #times div {
    width: 33%;
    height: 200px;
    float: left;
    padding: 20px 0 20px 0;
    text-align: center;
 }

 /* footer */

 footer {
    height: 150px;
 }

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

/* Screen sizes */

/* Large to medium screen size 1200px width and down */
@media screen and (max-width: 1200px) {
    #about-us {
        width: 95%;
        height: 1200px;
    }

    #times {
        padding: 30px 0;
        margin: auto;
    }
}

/* Medium screen size 950px width and down */
@media screen and (max-width: 950px) {

    #menu {
        clear: left;
        float: left;
        margin: 0 0 20px 30px;
        line-height: 20px;
    }

    #main-text h2 {
        clear: left;
        float: left;
        line-height: 20px;
        position: relative;
        left: 30px;
        margin-top: 10px;
    }
    
    #about-us {
        width: 95%;
        height: 950px;
    }
}